@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #ffffff;
}
/* Animation for infinite scrolling */
@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {
    animation: marquee 80s linear infinite;
  }
  /* Styl z pliku rekrutera */
body {
  background-color: #f8fafc; /* Kolor tła z pliku */
}

.bg-blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(80px);
    z-index: -1;
    opacity: 0.6;
    animation: float 10s infinite ease-in-out;
    pointer-events: none; /* Żeby nie klikać w tło */
}

.blob-1 { top: 0; left: 0; width: 500px; height: 500px; background: #60efff; opacity: 0.4; }
.blob-2 { top: 20%; right: 0; width: 400px; height: 400px; background: #0061ff; animation-delay: 2s; opacity: 0.3; }

@keyframes float {
    0% { transform: translate(0, 0); }
    50% { transform: translate(20px, 40px); }
    100% { transform: translate(0, 0); }
}
  